/* CSS para el fondo del header */
.navbar {
    background-color: #1f6157;
}

/* Resaltar los botones al pasar el cursor */
.navbar-nav .nav-link:hover {
    color: #1f6157; /* Color al pasar el cursor */
    text-decoration: underline; /* Subraya el texto */
}

/* Alinear los botones del nav a la derecha */
.navbar-nav {
  
    justify-content: flex-end; /* Alinea los elementos de la lista a la derecha */
}

h5 {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

/* Reducir el padding de la sección */
.bg-success {
    padding-top: 3rem;   /* Reduce el espacio superior */
    padding-bottom: 3rem; /* Reduce el espacio inferior */
}

/* Reducir el padding de las columnas */
.py-5 {
    padding-top: 1rem; /* Reduce el espacio superior */
    padding-bottom: 1rem; /* Reduce el espacio inferior */
}

/* Reducir el tamaño de la imagen */
.col-md-4 img {
    width: 250px;  /* Reduce el ancho de la imagen */
    height: 250px; /* Reduce la altura de la imagen */
}


/* Resaltar los botones cuando el puntero pase por encima */
.nav-link {
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    font-size: large; /* Tamaño de la fuente más grande */
}

/* Estilo cuando el puntero pasa sobre los enlaces */
.nav-link:hover {
    background-color:  #59ab6e; /* Color de fondo que resalta  */
    color: white; /* Cambiar el color del texto  */
    border-radius: 4px; /* Bordes redondeados */
}

.nav-item {
    text-align: right; /* Alinea los elementos de la lista a la derecha */
}

h1,h2,h3{
    color: #59ab6e;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    
}
main{
    background-color: #efefef !important ;
}
p {
    font-weight: bold;
  }


/* Título centrado para dispositivos grandes */
h1 {
    text-align: center;
    font-size: 4rem; /* Tamaño de fuente más grande para pantallas grandes */
    word-wrap: break-word; /* Permite que el texto se divida si es necesario */
}

/* Ajustar tamaño del título en pantallas medianas */
@media (max-width: 1024px) {
    h1 {
        font-size: 3rem; /* Tamaño de fuente más grande para pantallas medianas */
    }
}

/* Ajustar tamaño del título en pantallas pequeñas */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem; /* Tamaño de fuente aún más grande para pantallas pequeñas */
        padding: 0 10px; /* Agregar algo de espacio para evitar que se salga del borde */
    }
}

/* Ajustar aún más en pantallas muy pequeñas */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem; /* Tamaño de fuente más grande para pantallas muy pequeñas */
        padding: 0 5px; /* Ajuste adicional de padding */
    }
}
